<div class="d-flex flex-column align-items-center pt-2 sidebar">


  <div class="siderbar-content sidebar-background"></div>

  <div class="sidebar-content module-container">
      <img src="assets/images/logo.png" class="logo" alt=""/>
      <span class="module-text logo-text"> PROGRAM APP </span>
  </div>


  <div class="sidebar-content module-container avatar-container">
      <div class="avatar"></div>
      <span class="module-text avatar-text"> John Doe </span>
  </div>


  <div class="modules">
      <app-module *ngFor="let module of modules" [module]="module">
      </app-module>
  </div>

</div>